.bg {
  background-image: url('/galaxy@bg.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  position: relative;
}

.navbar-custom {
  background-color: #123456; /* Replace #123456 with your desired color */
}

.home {
  padding: 5% 5% 0;
}

.home h1 {
  margin-top: 20vh;
  font-weight: bold;
  color: rgb(254, 254, 254);
}

.home p {
  color: rgb(254, 254, 254);
}

.text-underline-hover {
  text-decoration: none;
}

.top-buffer {
  margin-top: 20px;
}

.posting.body {
  font-size: 1.2em;
}

.project.attribute {
  font-weight: bold;
}

.project.detail {
  color: grey;
}

.navbar-custom {
  background-color: #0F2540 !important; /* Overrides Bootstrap default */
}

.project.owner {
  font-weight: bold;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
  align-items: baseline; /* Ensures elements align without centering */
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}

.top-buffer {
  margin-top: 20px;
}

.blank-row {
  height: 30px;
}

.query-bar {
  padding: 10px; /* Increased padding for better spacing */
  z-index: 1; /* Ensure this layer remains interactive */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for prominence */
}

.form-control {
  z-index: 1; /* Ensure input field is clickable */
}

#search_key_word {
  background-color: rgba(255, 255, 255, 0.851); /* Ensures input is visible */
}

button.submit {
  z-index: 1; /* Ensures button is clickable */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

footer {
  padding: 0.5in;
  font-size: 11px;
  color: rgb(2, 3, 83);
}
