h2 Channel Information
p Channel Title: #{channel.channel_title}
p Description: #{channel.description}
p custom_url: #{channel.custom_url}
p subscriber_count: #{channel.subscriber_count}
p video_count: #{channel.video_count}
p view_count: #{channel.view_count}

