---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=jeqH4eMGjhY&key=<API_KEY>&part=snippet
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "y_39M7bx6FfTImfwv8E4w1Ndi5s",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "NUVp4WHIJTuDioDXFn9Li0ZjulE",
              "id": "jeqH4eMGjhY",
              "snippet": {
                "publishedAt": "2018-06-12T07:00:02Z",
                "channelId": "UCMUnInmOkrWN4gof9KlhNmQ",
                "title": "【都市傳說】兩個未來人（2075和2062）的預言實在太準太可怕 | 老高與小茉 Mr & Mrs Gao",
                "description": "你相信時間機器的存在嗎？你知道你的周圍就有來自未來的人嗎？如果你不認識未來人，老高今天給你介紹兩個，他們分別來自於2062年和2075年，這兩個人都因準確預測未來而被相信是真的未來人。當然有些事情不信為好。\n順便問大家一下，如果真的有時間機器，你會想去到或者回到什麼時候呢？\n------------------------------------------------\n相關鏈接：\n\n【YJ的推特】https://twitter.com/YJ943636\n\n【2062代言人的主頁】http://2062.jp/\n\n【2062的2010年和2011年的留言】http://from2062.com\n\n------------------------------------------------\n推薦播放列表：\n\n【恐怖靈異】https://goo.gl/Bq54h5\n\n【都市傳說】https://goo.gl/CpmK2Y\n\n【心理測試】https://goo.gl/wf5dp5\n\n【奇趣世界】https://goo.gl/Tbpiuj\n\n------------------------------------------------\n如果喜歡我們的頻道不要忘記訂閱哦，我們會每天更新有趣的內容。\n\n【訂閱按鈕】https://goo.gl/VhzZeS",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/jeqH4eMGjhY/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/jeqH4eMGjhY/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/jeqH4eMGjhY/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/jeqH4eMGjhY/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/jeqH4eMGjhY/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "老高與小茉 Mr & Mrs Gao",
                "tags": [
                  "都市傳說",
                  "未來人",
                  "2062",
                  "2075",
                  "YJ",
                  "推特",
                  "地震",
                  "時光機"
                ],
                "categoryId": "24",
                "liveBroadcastContent": "none",
                "defaultLanguage": "en",
                "localized": {
                  "title": "【都市傳說】兩個未來人（2075和2062）的預言實在太準太可怕 | 老高與小茉 Mr & Mrs Gao",
                  "description": "你相信時間機器的存在嗎？你知道你的周圍就有來自未來的人嗎？如果你不認識未來人，老高今天給你介紹兩個，他們分別來自於2062年和2075年，這兩個人都因準確預測未來而被相信是真的未來人。當然有些事情不信為好。\n順便問大家一下，如果真的有時間機器，你會想去到或者回到什麼時候呢？\n------------------------------------------------\n相關鏈接：\n\n【YJ的推特】https://twitter.com/YJ943636\n\n【2062代言人的主頁】http://2062.jp/\n\n【2062的2010年和2011年的留言】http://from2062.com\n\n------------------------------------------------\n推薦播放列表：\n\n【恐怖靈異】https://goo.gl/Bq54h5\n\n【都市傳說】https://goo.gl/CpmK2Y\n\n【心理測試】https://goo.gl/wf5dp5\n\n【奇趣世界】https://goo.gl/Tbpiuj\n\n------------------------------------------------\n如果喜歡我們的頻道不要忘記訂閱哦，我們會每天更新有趣的內容。\n\n【訂閱按鈕】https://goo.gl/VhzZeS"
                },
                "defaultAudioLanguage": "zh"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Tue, 15 Oct 2024 15:16:13 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=jeqH4eMGjhY&key=<API_KEY>&part=snippet
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "RuuXzTIr0OoDqI4S0RU6n4FqKEM",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 5
          }
        }
  recorded_at: Fri, 18 Oct 2024 02:42:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=jeqH4eMGjhY&key=<API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "RuuXzTIr0OoDqI4S0RU6n4FqKEM",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 5
          }
        }
  recorded_at: Fri, 18 Oct 2024 02:49:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC_x5XG1OV2P6uZZ5FSM9Ttw&key=<API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "bDXCBVGNhOKZZJhDV5c7X2qYaXM",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "r5k-rFTcSK4BZmk9lqst0Ztr26k",
              "id": "UC_x5XG1OV2P6uZZ5FSM9Ttw",
              "snippet": {
                "title": "Google for Developers",
                "description": "Subscribe to join a community of creative developers and learn the latest in Google technology — from AI and cloud, to mobile and web.\n\nExplore more at developers.google.com\n\n",
                "customUrl": "@googledevelopers",
                "publishedAt": "2007-08-23T00:34:43Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/PrZwRLLSaiXr5t-GRUhUFch2Qlol1G_voyuo-jJ4y-mqcVza7o7j_24yGRiydUP7UsQiKwo7=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/PrZwRLLSaiXr5t-GRUhUFch2Qlol1G_voyuo-jJ4y-mqcVza7o7j_24yGRiydUP7UsQiKwo7=s240-c-k-c0x00ffffff-no-rj",
                    "width": 240,
                    "height": 240
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/PrZwRLLSaiXr5t-GRUhUFch2Qlol1G_voyuo-jJ4y-mqcVza7o7j_24yGRiydUP7UsQiKwo7=s800-c-k-c0x00ffffff-no-rj",
                    "width": 800,
                    "height": 800
                  }
                },
                "localized": {
                  "title": "Google for Developers",
                  "description": "Subscribe to join a community of creative developers and learn the latest in Google technology — from AI and cloud, to mobile and web.\n\nExplore more at developers.google.com\n\n"
                },
                "country": "US"
              },
              "contentDetails": {
                "relatedPlaylists": {
                  "likes": "",
                  "uploads": "UU_x5XG1OV2P6uZZ5FSM9Ttw"
                }
              },
              "statistics": {
                "viewCount": "309534509",
                "subscriberCount": "2390000",
                "hiddenSubscriberCount": false,
                "videoCount": "6317"
              }
            }
          ]
        }
  recorded_at: Fri, 18 Oct 2024 02:50:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCpYf6C9QsP_BRf97vLuXlIA&key=<API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"7_dYc7pkJzTAxZD3yCcuYRUaJ2o\[...]
[...]
