---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCpYf6C9QsP_BRf97vLuXlIA&key=<API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"5cWr7egbyzHFNfFK_6ePdW6PhuA\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\": 5\n  },\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#channel\",\n      \"etag\":
        \"ubfdw_9Ufj89GY8oWTgkDUvGf-E\",\n      \"id\": \"UCpYf6C9QsP_BRf97vLuXlIA\",\n
        \     \"snippet\": {\n        \"title\": \"Vantacrow Bringer 【NIJISANJI EN】\",\n
        \       \"description\": \"The unstoppable Tyrant from Krisis, Vantacrow Bringer!
        \U0001F0CF\U0001F52A\\n\",\n        \"customUrl\": \"@vantacrowbringer\",\n
        \       \"publishedAt\": \"2023-06-08T03:43:49.635489Z\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://yt3.ggpht.com/GLPkvp_8o7OvZ3q57IpqDSHIyv6OqZFK6tO1egzLoMjE19EBlo3tISEMIOLEvkC5jnl2Uus93A=s88-c-k-c0x00ffffff-no-rj\",\n
        \           \"width\": 88,\n            \"height\": 88\n          },\n          \"medium\":
        {\n            \"url\": \"https://yt3.ggpht.com/GLPkvp_8o7OvZ3q57IpqDSHIyv6OqZFK6tO1egzLoMjE19EBlo3tISEMIOLEvkC5jnl2Uus93A=s240-c-k-c0x00ffffff-no-rj\",\n
        \           \"width\": 240,\n            \"height\": 240\n          },\n          \"high\":
        {\n            \"url\": \"https://yt3.ggpht.com/GLPkvp_8o7OvZ3q57IpqDSHIyv6OqZFK6tO1egzLoMjE19EBlo3tISEMIOLEvkC5jnl2Uus93A=s800-c-k-c0x00ffffff-no-rj\",\n
        \           \"width\": 800,\n            \"height\": 800\n          }\n        },\n
        \       \"localized\": {\n          \"title\": \"Vantacrow Bringer 【NIJISANJI
        EN】\",\n          \"description\": \"The unstoppable Tyrant from Krisis, Vantacrow
        Bringer! \U0001F0CF\U0001F52A\\n\"\n        },\n        \"country\": \"JP\"\n
        \     },\n      \"contentDetails\": {\n        \"relatedPlaylists\": {\n          \"likes\":
        \"\",\n          \"uploads\": \"UUpYf6C9QsP_BRf97vLuXlIA\"\n        }\n      },\n
        \     \"statistics\": {\n        \"viewCount\": \"9044926\",\n        \"subscriberCount\":
        \"180000\",\n        \"hiddenSubscriberCount\": false,\n        \"videoCount\":
        \"481\"\n      }\n    }\n  ]\n}\n"
  recorded_at: Fri, 25 Oct 2024 04:14:40 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=jeqH4eMGjhY&key=<API_KEY>&part=snippet
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "y_39M7bx6FfTImfwv8E4w1Ndi5s",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "NUVp4WHIJTuDioDXFn9Li0ZjulE",
              "id": "jeqH4eMGjhY",
              "snippet": {
                "publishedAt": "2018-06-12T07:00:02Z",
                "channelId": "UCMUnInmOkrWN4gof9KlhNmQ",
                "title": "【都市傳說】兩個未來人（2075和2062）的預言實在太準太可怕 | 老高與小茉 Mr & Mrs Gao",
                "description": "你相信時間機器的存在嗎？你知道你的周圍就有來自未來的人嗎？如果你不認識未來人，老高今天給你介紹兩個，他們分別來自於2062年和2075年，這兩個人都因準確預測未來而被相信是真的未來人。當然有些事情不信為好。\n順便問大家一下，如果真的有時間機器，你會想去到或者回到什麼時候呢？\n------------------------------------------------\n相關鏈接：\n\n【YJ的推特】https://twitter.com/YJ943636\n\n【2062代言人的主頁】http://2062.jp/\n\n【2062的2010年和2011年的留言】http://from2062.com\n\n------------------------------------------------\n推薦播放列表：\n\n【恐怖靈異】https://goo.gl/Bq54h5\n\n【都市傳說】https://goo.gl/CpmK2Y\n\n【心理測試】https://goo.gl/wf5dp5\n\n【奇趣世界】https://goo.gl/Tbpiuj\n\n------------------------------------------------\n如果喜歡我們的頻道不要忘記訂閱哦，我們會每天更新有趣的內容。\n\n【訂閱按鈕】https://goo.gl/VhzZeS",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/jeqH4eMGjhY/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/jeqH4eMGjhY/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/jeqH4eMGjhY/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/jeqH4eMGjhY/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/jeqH4eMGjhY/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "老高與小茉 Mr & Mrs Gao",
                "tags": [
                  "都市傳說",
                  "未來人",
                  "2062",
                  "2075",
                  "YJ",
                  "推特",
                  "地震",
                  "時光機"
                ],
                "categoryId": "24",
                "liveBroadcastContent": "none",
                "defaultLanguage": "en",
                "localized": {
                  "title": "【都市傳說】兩個未來人（2075和2062）的預言實在太準太可怕 | 老高與小茉 Mr & Mrs Gao",
                  "description": "你相信時間機器的存在嗎？你知道你的周圍就有來自未來的人嗎？如果你不認識未來人，老高今天給你介紹兩個，他們分別來自於2062年和2075年，這兩個人都因準確預測未來而被相信是真的未來人。當然有些事情不信為好。\n順便問大家一下，如果真的有時間機器，你會想去到或者回到什麼時候呢？\n------------------------------------------------\n相關鏈接：\n\n【YJ的推特】https://twitter.com/YJ943636\n\n【2062代言人的主頁】http://2062.jp/\n\n【2062的2010年和2011年的留言】http://from2062.com\n\n------------------------------------------------\n推薦播放列表：\n\n【恐怖靈異】https://goo.gl/Bq54h5\n\n【都市傳說】https://goo.gl/CpmK2Y\n\n【心理測試】https://goo.gl/wf5dp5\n\n【奇趣世界】https://goo.gl/Tbpiuj\n\n------------------------------------------------\n如果喜歡我們的頻道不要忘記訂閱哦，我們會每天更新有趣的內容。\n\n【訂閱按鈕】https://goo.gl/VhzZeS"
                },
                "defaultAudioLanguage": "zh"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Fri, 25 Oct 2024 04:14:41 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=jeqH4eMGjhY123&key=<API_KEY>&part=snippet
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "YIUPVpqNjppyCWOZfL-19bLb7uk",
          "items": [],
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          }
        }
  recorded_at: Sun, 27 Oct 2024 05:54:57 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=CcGsTuLEs14&key=<API_KEY>&part=snippet
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "fRXBPP9FeoTOEDZdCjeQ0BZM1kQ",
          "items": [
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=uAdmzgTmWIU&key=<API_KEY>&part=snippet
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "2Hz9D8xTE4vvlgSxwWUH_logx2I",
          "items": [
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=27dnJ0zqHJ4&key=<API_KEY>&part=snippet
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"M86rEXTG_iM8J6MPS98i811fXZ8\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"Bn-Ze1wU1X78GCG29aWxHLa7fgU\",\n      \"id\": \"27dnJ0zqHJ4\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2024-01-25T10:11:25Z\",\n        \"channelId\":
        \"UC8_RSKwbU1OmZWNEoLV1tQg\",\n        \"title\": \"Tableau Charts: Box Plot
        | #Tableau Course #130\",\n        \"description\": \"\U0001F3AC Full Tableau
        Course: https://youtu.be/UcGF09Awm4Y\\n⬇️ Free Materials (Downloads): https://datawithbaraa.substack.com\\n\U0001F449
        Support & Subscribe to Channel: http://bit.ly/3GiCVUE\\n\\n☕ Stay connected\\n►
        Subscribe: http://bit.ly/3GiCVUE\\n► Join: https://www.youtube.com/channel/UC8_RSKwbU1OmZWNEoLV1tQg/join\\n►
        Newsletter: https://bit.ly/BaraaNewsletter\\n► LinkedIn: https://www.linkedin.com/in/baraa-khatib-salkini/\\n►
        Website: https://www.datawithbaraa.com\\n\\n\U0001F4DA Free Courses\\n✅ Tableau:
        https://youtu.be/UcGF09Awm4Y\\n✅ Tableau Project: https://www.youtube.com/watch?v=UcGF09Awm4Y\\n✅
        SQL Basics: https://youtu.be/NTgejLheGeU?si=2-m6dgYPRvoFUSgS\\n✅ SQL Advanced:
        https://www.youtube.com/watch?v=ELdz0dXzWGM&list=PLNcg_FV9n7qZY_2eAtUzEUulNjTJREhQe\\n✅
        ChatGPT: https://youtu.be/LJLNfei4i-c?si=EhUNYN38dkswAvZH\\n\\n\U0001F393Other
        Platforms (Certifications)\\n► Udemy: https://bit.ly/BaraaUdemy\\n► Skillshare
        (1 Free Month): https://bit.ly/BaraaSkillshare\\n\\n⭐ My favorite books: https://kit.co/DataWithBaraa/my-favorite-books\\n\U0001F4BB
        My gear: https://kit.co/DataWithBaraa/my-desktop-gear\\n\\n#tableau #data
        #analytics #datascience \\n**Please note I may earn a small commission for
        any purchase through these l[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=GZe2FJOWGIs&key=<API_KEY>&part=snippet
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "QyKkUOatK1uZkbtKSgA3C-f9DUQ",
          "items": [
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<API_KEY>&maxResults=5&part=snippet&q=Ruby
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"WMJIG_bD-VerWTNpYL73fQjZ1AA\",\n
        \ \"nextPageToken\": \"CAUQAA\",\n  \"regionCode\": \"TW\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 5\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"yi4X61BETplVSOuxupNHNJuO7bw\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"Jw90haI8Cts\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2024-10-28T02:00:17Z\",\n        \"channelId\": \"UC3Ard6ooM7JsdAYgTqM_O3Q\",\n
        \       \"title\": \"namar gangan baigaarai gd urigu erhluulchihlee \U0001F979\U0001F496\",\n
        \       \"description\": \"\",\n        \"thumbnails\": {\n          \"default\":
        {\n            \"url\": \"https://i.ytimg.com/vi/Jw90haI8Cts/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/Jw90haI8Cts/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/Jw90haI8Cts/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"Ruby’s Channel\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2024-10-28T02:00:17Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"6rGkY44xUTERxHwjZ2H1ztgtcPw\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"qObzgUfCl28\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2009-12-02T08:05:50Z\",\n        \"channelId\": \"UCEGENb0qic-2tdRWP5FRjXg\",\n
        \       \"title\": \"Kaiser Chiefs - Ruby (Official Video)\",\n        \"descripti[...]
